<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
 
<title>Lista Samochodów</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
    <div class="Container text-center">
<div><h1>Lista Samochodów</h1></div>

<div>
<table class="table table-bordered" >
<thead class="thead-dark">
<tr>
	<th>ID</th>
	<th>NAZWA</th>
	<th>CENA</th>
	<th>KLIENT</th>
	<th>STATUS</th>
	<th></th>
</tr>

</thead>
<tbody>
<th:block th:each="samochody :${listaSamochodow}">
<tr>
<td>[[${samochody.id}]]</td>
<td>[[${samochody.name}]]</td>
<td>[[${samochody.price}]]</td>
<td>[[${samochody.klienci.name}]]</td>
<td>[[${samochody.wypo}]]</td>
<td>
<a th:href="@{'samochod/edit/'+ ${samochody.id}}">EDYTUJ</a>
&nbsp;
<a th:href="@{'samochod/delete/'+ ${samochody.id}}">USUŃ</a>
</td>




</tr>
</tbody>
</table>

</div>
</div>
</body>

</html>